.header{
    display: flex;
    justify-content: space-around;
}
.header img{
    width: 9vw;
    margin-top: -1vw;
}
#spare-parts-nav{
    background-color: black;
    color: aliceblue;
}
.navbar a{
    text-decoration: none;
    color: white;
    padding: 1vw;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Antonio', sans-serif; */
}
.navbar{
    margin-top:1.5vw;
    margin-bottom: 13vw;
    padding-top: 2vw;
  
}

.navbar2{
    margin: 0vw 6vw;
}
body{
    background-image: url("/image/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}    
    
h2{
    text-align: center;

    color: rgb(228, 29, 29);
    font-family: 'Kalam', cursive;
    font-family: 'Sansita Swashed', cursive
}
p{
    color: black;
}
h5{
    background-color: purple;
    color: aliceblue;
    padding: 10px;
} 
i{
   font-size: 22px;
   color: beige;
}

 
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.logo > img{
    width: 40px;
    height: 40px;
  
}
.spare__parts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.card >img{
width: 250px;
height: 250px;
}
#headlights{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}
.head{
    margin-right: 10px;
}
.head>img{
    width: 200px;
    height: 200px;
}

#wheels{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
  
}
.wheel>img{
    width: 200px;
    height: 200px;
}
#exhausts{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}
.exhaust>img{
    width: 200px;
    height: 200px;
}
#mirrors{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}
.mirror>img{
    width: 200px;
    height: 200px;
}
.flex{
    margin: 20px 0px;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}