/* font-family: 'Aclonica', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Righteous', cursive; */
body{
    scroll-behavior: smooth;
    font-family: 'Aclonica', sans-serif;
}
html{
    scroll-behavior: smooth;
}
#subaru-page{
    background-image: url("../images/car1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
a:link{
    font-family: 'Aclonica', sans-serif;
    font-size: 1em;
    font-weight: bold;   
}
.link-div{
    padding-top: 15px;

}
#car-brand-heading{
    color: red;
    font-family: 'Righteous', cursive;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 2.8em;
    font-weight: bold;
    letter-spacing: 3px;
}
.image{
    width: 100px;
    height: 140px;
}
.my-card{
    padding: 5px 8px;
    margin: 10px 20px;
    background-color: rgb(104, 102, 102);
}
.spare-part-heading{
    color: red;
}
.headlights{
    padding: 20px 0px;
    margin-top: 20px;
    font-family: 'Aclonica', sans-serif;
}
.wheels-pipes-mirrors{
    background-image: url("../images/car.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center; 
    font-family: 'Aclonica', sans-serif; 
}
.spare-heading{
    padding-top: 90px;
    padding-bottom: 10px;
    color: red;
}
.go-to-top-btn{
    float: right;
   
}
.back-to-top{
    padding-top: 10px;
    padding-bottom: 10px;    
}